<div style="color:#280070;max-height:470px;min-height:470px" class="jumbotron text-center">
<p>
    Launched in 2018, Dirtrm was built with the explicit goal of providing customers with the most convenient, easy and high quality way do their laundry and dry cleaning. We also believe everyone has a right to look and feel good in clean clothes. 
    We are focusing on highly efficient operations, leading edge technology, and strong partnerships; we are providing customers with an unmatched level of service, quality, and convenience.
     
    Our mission is straightforward.    
</p>
</div>
