<!-- <div class="row text-center" style="width:100%;">
<div class="row text-center" style="background-color:#280070;width:100%;">
      <p class="col-sm-3" style="background-color:#00A9E0;border-right:3px solid #280070;color:white; padding:5px;">Mens</p>
      <p class="col-sm-3" style="background-color:#00A9E0;border-right:3px solid #280070; padding:5px;color:white;">Womens</p>
      <p class="col-sm-3" style="background-color:#00A9E0;border-right:3px solid #280070; padding:5px;color:white;">House Holds</p>
      <p class="col-sm-3" style="background-color:#00A9E0;padding:5px;color:white;">Others</p>
  <div class="row text-center" style="width:100%;">
      <p class="col-sm-3" style="background-color:white;border:1px solid #00A9E0;color:#280070; padding:5px;">Tide</p>
      <p class="col-sm-3" style="background-color:white;border:1px solid #00A9E0; padding:5px;color:#280070;">Surf Excel</p>
      <p class="col-sm-3" style="background-color:white;border:1px solid #00A9E0; padding:5px;color:#280070;">Ariel</p>
      <p class="col-sm-3" style="background-color:white;border:1px solid #00A9E0; padding:5px;color:#280070;">Ezee</p>
  </div>
</div>
</div> -->
<div class="text-center" style="background-color:#280070;width:100%;">
    <!-- <div class="container-fluid" style="margin-top:10px;width:100%;">
        <div class="row text-center" style="width:100%;">
              <button style="margin-left:20px;font-size:12px;color:white;background-color:#00A9E0;" type="button" class="btn col-sm-2">Women's</button>
              <button style="margin-left:20px;font-size:12px;color:white;background-color:#00A9E0;" type="button" class="btn col-sm-2">House Holds</button>
                <button style="margin-left:20px;margin-right:10px;font-size:12px;color:white;background-color:#00A9E0;" type="button" class="btn col-sm-2">Others</button>
          
        </div>
      </div> -->
      <div class="container table-responsive" style="width:100%;">
          <table class="table table-hover table-borderless">
            <thead>
              <tr>
                <th>
                  <button class="btn" style="width:100%;font-size:14px;color:white;background-color:#00A9E0;" type="button">Mens</button>
                </th>
                <th>  
                  <button class="btn" style="width:100%;font-size:14px;color:white;background-color:#00A9E0;" type="button">Women's</button>
                </th>
                <th>
                  <button class="btn" style="width:100%;font-size:14px;color:white;background-color:#00A9E0;" type="button">House Holds</button>
                </th>
                <th>
                  <button class="btn" style="width:100%;font-size:14px;color:white;background-color:#00A9E0;" type="button">Others</button>                    
                </th>
              </tr>
            </thead>
          </table>
      </div>
      <div class="container table-responsive" style="color:white;width:100%;border-left:2px solid #00A9E0;border-right:2px solid #00A9E0;border-top:2px solid #00A9E0;">
          <table class="table table-hover table-borderless" style="font-size:14px;">
            <thead>
              <tr>
                <th>Product</th>
                <th>Tide</th>
                <th>Surf Excel</th>
                <th>Ariel</th>
                <th>Ezee</th>
              </tr>
            </thead>
          </table>
      </div>
  <div class="container table-responsive" style="max-height:400px;border:2px solid #00A9E0;color:white;width:100%;">
      <table class="table table-hover table-borderless" style="font-size:14px;">
        <!-- <thead>
          <tr>
            <th>Product</th>
            <th>Tide</th>
            <th>Surf Excel</th>
            <th>Ariel</th>
            <th>Ezee</th>
          </tr>
        </thead> -->
        <tbody>
          <tr style="border-bottom:2px solid #00A9E0;">
            <td>Shirt</td>
            <td>14</td>
            <td>16</td>
            <td>18</td>
            <td>20</td>
          </tr>
          <tr style="border-bottom:2px solid #00A9E0;">
            <td>Jeans</td>
            <td>20</td>
            <td>22</td>
            <td>24</td>
            <td>28</td>
          </tr>
          <tr style="border-bottom:2px solid #00A9E0;">
            <td>Tshirt</td>
            <td>12</td>
            <td>14</td>
            <td>16</td>
            <td>18</td>
          </tr>
          <tr style="border-bottom:2px solid #00A9E0;">
              <td>Shirt</td>
              <td>14</td>
              <td>16</td>
              <td>18</td>
              <td>20</td>
            </tr>
            <tr style="border-bottom:2px solid #00A9E0;">
              <td>Jeans</td>
              <td>20</td>
              <td>22</td>
              <td>24</td>
              <td>28</td>
            </tr>
            <tr style="border-bottom:2px solid #00A9E0;">
              <td>Tshirt</td>
              <td>12</td>
              <td>14</td>
              <td>16</td>
              <td>18</td>
            </tr>
            <tr style="border-bottom:2px solid #00A9E0;">
                <td>Shirt</td>
                <td>14</td>
                <td>16</td>
                <td>18</td>
                <td>20</td>
              </tr>
              <tr style="border-bottom:2px solid #00A9E0;">
                <td>Jeans</td>
                <td>20</td>
                <td>22</td>
                <td>24</td>
                <td>28</td>
              </tr>
              <tr style="border-bottom:2px solid #00A9E0;">
                <td>Tshirt</td>
                <td>12</td>
                <td>14</td>
                <td>16</td>
                <td>18</td>
              </tr>
              <tr style="border-bottom:2px solid #00A9E0;">
                  <td>Shirt</td>
                  <td>14</td>
                  <td>16</td>
                  <td>18</td>
                  <td>20</td>
                </tr>
                <tr style="border-bottom:2px solid #00A9E0;">
                  <td>Jeans</td>
                  <td>20</td>
                  <td>22</td>
                  <td>24</td>
                  <td>28</td>
                </tr>
                <tr style="border-bottom:2px solid #00A9E0;">
                  <td>Tshirt</td>
                  <td>12</td>
                  <td>14</td>
                  <td>16</td>
                  <td>18</td>
                </tr>
                <tr style="border-bottom:2px solid #00A9E0;">
                    <td>Shirt</td>
                    <td>14</td>
                    <td>16</td>
                    <td>18</td>
                    <td>20</td>
                  </tr>
                  <tr style="border-bottom:2px solid #00A9E0;">
                    <td>Jeans</td>
                    <td>20</td>
                    <td>22</td>
                    <td>24</td>
                    <td>28</td>
                  </tr>
                  <tr style="border-bottom:2px solid #00A9E0;">
                    <td>Tshirt</td>
                    <td>12</td>
                    <td>14</td>
                    <td>16</td>
                    <td>18</td>
                  </tr>
        </tbody>
      </table>
    </div>
 </div>

  
