<!-- <nav class="navbar navbar-expand" style="border-bottom: 1px solid #00A9E0;color:white;background:#280070">
  
<div class="container" style="float:left">
  <img class="navbar-brand" style="width:100px;height:40px" src="https://scontent.fblr1-1.fna.fbcdn.net/v/t1.0-9/30707916_1701763149903370_7210747054824357888_n.jpg?_nc_cat=0&oh=3623e9fd7b6f1211b6b396bb5e459dc1&oe=5B8B8241">
  <div class="d-flex h-100">   
  <span class="align-self-center" style="height:18px;float:right">
          <label class="nav-link" routerLink="home" style="padding-left:15px;padding-right:15px;padding-top:5px;padding-bottom:5px;float:left;font-size:14px;color:white;border: 1px solid white;">Home</label>
          <label class="nav-link" routerLink="our_services" style="padding-left:15px;padding-right:15px;padding-top:5px;padding-bottom:5px;float:left;font-size:14px;color:white;border: 1px solid white;">Our Services</label>
          <label class="nav-link" routerLink="pricing" style="padding-left:15px;padding-right:15px;padding-top:5px;padding-bottom:5px;float:left;font-size:14px;color:white;border: 1px solid white;">Pricing</label>
          <label class="nav-link" routerLink="faq" style="padding-left:15px;padding-right:15px;padding-top:5px;padding-bottom:5px;float:left;font-size:14px;color:white;border: 1px solid white;">Faq</label>
          <label class="nav-link" routerLink="about_us" style="padding-left:15px;padding-right:15px;padding-top:5px;padding-bottom:5px;float:left;font-size:14px;color:white;border: 1px solid white;">About Us</label>
          <label class="nav-link" routerLink="contact_us" style="padding-left:15px;padding-right:15px;padding-top:5px;padding-bottom:5px;float:left;font-size:14px;color:white;border: 1px solid white;">Contact Us</label>
        </span>
      </div>
      </div>
</nav> -->

<!-- <br>
<br> -->
<!-- <nav class="navbar navbar-expand" style="height:60px;border-bottom: 1px solid #00A9E0;color:white;background:#280070">
    <span class="container" style="float:left">
      <p style="font-size:18px;font-weight:bold" class="text-center">Dirtrm<br><p style="font-weight:normal; font-size:14px;">heal your clothes</p></p>
      <img class="navbar-brand" style="width:70px;height:60px" src="https://scontent.fblr1-1.fna.fbcdn.net/v/t1.0-9/30707916_1701763149903370_7210747054824357888_n.jpg?_nc_cat=0&oh=3623e9fd7b6f1211b6b396bb5e459dc1&oe=5B8B8241">
      <span style="height:18px;">
        <label class="nav-link" routerLink="home" style="float:left;font-size:14px;color:white;border-right: 1px solid white;">Home</label>
        <label class="nav-link" routerLink="about" style="float:left;font-size:14px;color:white;border-right: 1px solid white;">About</label>
        <label class="nav-link" routerLink="courses" style="float:left;font-size:14px;color:white;border-right: 1px solid white;">Our Services</label>
        <label class="nav-link" routerLink="courses" style="float:left;font-size:14px;color:white;border-right: 1px solid white;">FAQ?</label>
        <label class="nav-link" routerLink="courses" style="float:left;font-size:14px;color:white;">Contact Us</label>
      </span>
    </span>
</nav> -->
<!-- <router-outlet></router-outlet> -->
<body style="background-color:#280070;">
        <div class="row" style="width:100%;padding:20px;border-bottom: 2px solid white;">
            <div class="col-sm-3 text-center">
                <p style="font-size:20px;font-weight:bold;color:white" class="float-left;text-center">Dirtrm<br><p style="font-size:10px;font-weight:bold;color:#00A9E0;">Heal your clothes</p></p>
            </div>
            <div class="col-sm-9">
                <nav class="navbar navbar-expand navbar-fixed-top navbar-dark bg-inverse" style="background-color:#280070">
                    <div class="container">
                            <p style="height:5px;" class="float-left;text-center"></p>
       
                        <ul class="nav navbar-nav float-right">
                            <li class="nav-item"  style="float:right;"><a style="color:white;font-size:12px;" class="nav-link" routerLinkActive="active" routerLink="home">Home</a></li>
                            <li class="nav-item" style="float:right;"><a style="color:white;font-size:12px;" class="nav-link" routerLinkActive="active" routerLink="our_services">Services</a></li>
                            <li class="nav-item" style="float:right;"><a style="color:white;font-size:12px;" class="nav-link" routerLinkActive="active" routerLink="pricing">Pricing</a></li>
                            <li class="nav-item" style="float:right;"><a style="color:white;font-size:12px;" class="nav-link" routerLinkActive="active" routerLink="faq">Faq</a></li>
                            <li class="nav-item" style="float:right;"><a style="color:white;font-size:12px;" class="nav-link" routerLinkActive="active" routerLink="about_us">About Us</a></li>
                            <li class="nav-item" style="float:right;"><a style="color:white;font-size:12px;" class="nav-link" routerLinkActive="active" routerLink="contact_us">Contact Us</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>

<router-outlet></router-outlet>
   <!--Footer-->
   <footer class="page-footer blue pt-4 mt-4">
      <!-- <div class="container-fluid text-center text-md-left">
          <div class="row">
              <div class="col-md-6">
                  <h5 class="title">Footer Content</h5>
                  <p>Here you can use rows and columns here to organize your footer content.</p>
              </div>
              <div class="col-md-6">
                  <h5 class="title">Links</h5>
                  <ul class="list-unstyled">
                      <li><a href="#">Link 1</a></li>
                      <li><a href="#">Link 2</a></li>
                      <li><a href="#">Link 3</a></li>
                      <li><a href="#">Link 4</a></li>
                  </ul>
              </div>
            </div>
      </div> -->
      <!--Copyright-->
      <div style="background-color:white" class="footer-copyright text-center py-3">
          <div style="color:#280070" class="container-fluid">
              © 2018 Copyright: <a href="https://www.dirtrm.com"> dirtrm.com </a>
          </div>
      </div>
      <!--/.Copyright-->
  </footer>
  <!--/.Footer-->
</body>