<div class="row text-center" style="background-color:#00A9E0;width:100%;">
    <div class="col-sm-8" style="background-color:#280070;border-right:3px solid #00A9E0; padding-top:30px;">
        <h3 style="color:white;">Our Services</h3>
        <div class="row text-center" style="width:100%;padding:20px;">
            <div class="col-sm-6">
                <img width="32%" src="/assets/washing_machine.png">
                <br>
                <p style="margin-top:8px;font-size:24px;font-family:bold;color:#00A9E0">Wash & Fold</p>
            </div>
            <div class="col-sm-6 text-center">
                <img width="32%" src="/assets/washing_machine.png">
                <img width="15%" style="padding-top:60px;" src="/assets/iron.png">
                <br>
                <p style="margin-top:8px;font-size:24px;font-family:bold;color:#00A9E0">Wash & Iron</p>
            </div>
        </div>
        <div class="row text-center" style="width:100%;padding:20px;">
                <div class="col-sm-6">
                    <img width="32%" src="/assets/iron.png">
                    <br>
                <p style="margin-top:8px;font-size:24px;font-family:bold;color:#00A9E0">Iron</p>
                </div>
                <div class="col-sm-6">
                    <img width="32%" src="/assets/suit.png">
                    <br>
                <p style="margin-top:8px;font-size:24px;font-family:bold;color:#00A9E0">Dry Clean</p>
                </div>
            </div>
    </div>
    <div class="col-sm-4" style="background-color:#280070;">
        <p class="text-center" style="color:white;padding:30px;margin-top:70px;font-size:30px;font-weight:bold;">You never get a second chance to make a first impression. service beyond expectations.</p>
    </div>
</div>
